* {
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
} 

body {
  height: 100%;
  //min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh; 
}

.info-content {
  flex: 1; 
  text-align: start;
  color: #fff;
  background-height: 100%;
  background-size: 50% 200%;
  background-image: linear-gradient(to bottom, #0575E6, #02298A, #021B79);
  display: flex;
  padding:20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.info-content h1, .info-content p {
  margin-left: 30px;
}
.info-content h1 {
  margin-top: 50px;
}

.info-content p {
  font-weight: 500;
}

.login-content {
  flex: 1; /* Ocupa todo o espaço disponível à direita */
  text-align: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-content h2 {
  font-size:26px;
}
.login-content p {
  margin-bottom: 40px;
  font-size:18px;
}
.login-content p:last-child {
  text-align: center;
  margin-top: 15px;
  color: #333333;
}

form {
  margin:0;
  flex-direction: column;
  align-items: start;
}

input {
  border: 1px solid #EEEEEE;
  border-radius: 30px;
  display: flex;
  width: 307px;
  height: 60px;
  font-size: 14px;
  padding-left: 40px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.email-icon {
  background-image: url('assets/mail.svg');
  background-repeat: no-repeat;
  background-position: 10px center; 
}

.code-icon {
  background-image: url('assets/lock.svg');
  background-repeat: no-repeat;
  background-position: 10px center; 
}

.name-icon {
  background-image: url('assets/user.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
}

button {
  color: #fff;
  background-color: #0575E6;
  border: 0;
  border-radius: 30px;
  width: 307px;
  height: 60px;
  font-size: 14px;
}


@media (max-width: 414px) {
  .content {
    height: 896px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-content,
  .login-content {
    margin-right: 0;
    width: 100%;
  }

  .info-content {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
  }

  .info-content h1 {
    margin-top: 50px;
  }

  .info-content p {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .info-content h1, .info-content p {
    margin-left: 30px;
  }

  .login-content {
    //text-align: center;
    max-width: 300px;
    margin: 0 auto;
  }
}
@media (max-width: 820px) {
  .content {
    height: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-content,
  .login-content {
    margin-right: 0;
    width: 100%;
  }

  .info-content {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
  }

  .info-content h1 {
    margin-top: 50px;
  }

  .info-content p {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .info-content h1, .info-content p {
    margin-left: 30px;
  }

  .login-content {
    //text-align: center;
    max-width: 300px;
    margin: 0 auto;
  }
}
